#tex{
	text-align: left;
	border-bottom-style:solid ;
	border-width: 3px;
    border-color: black
    margin:0px 200px 200px 0px;
padding-bottom: 0px 0px 0px 0px;}
   

#ph{
	margin-top:22px
}
#obj{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
    font-family: serif; 
    
}
#inn{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
	    }
#aca{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
}
#sk{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black ;
}
#curr{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
}
#ts{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
}
#pr{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
    font-family: serif; 
}

#body{
	  font-family: "Times New Roman", Times, serif;
}
#ful{
	background-color:  #e6e6e6;
}




































































































































































































































































































    +++++++
}
#pr{
    borde-r-bottom-style: solid;
    border-width:2px;
    border-color: black;
}
#ful{
	background-color: #cccccc;
}